[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
beautifulsoup4 = ">=4.6.0"
pyyaml = ">=4.1"
numpy = ">=1.14.3"
colorlog = ">=3.1.4"
Cython = ">=0.28.1"

[dev-packages]

[requires]
python_version = "3.6"
